body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#form {
	margin: 1rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.agree {
	margin-bottom: 1rem;
}

.errors {
	display: none;
	max-width: 500px;
	padding: 0.05rem 0.5rem;
	margin-bottom: 1rem;
	background-color: rgba(238, 95, 119, 0.575);
	border-radius: 20px;
}

.error-title {
	margin: 0.2rem;
}

.errors-list > li {
	margin-bottom: 0.2rem;
}
